main {
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
}

.fz-18 {
    font-size: 18px;
}

.fz-22 {
    font-size: 22px;
}

.fz-33 {
    font-size: 33px;
}

.fz-50 {
    font-size: 50px;
}

.fz-60 {
    font-size: 60px;
}

.fz-24 {
    font-size: 24px;
}

.fz-88 {
    font-size: 88px;
}

.btn-size {
    width: 250px;
    height: 67px;
}

.phone-number {
    background-color: #75BF7A;
    margin: 0;
    min-height: 166px;
}

.f-color {
    color: #75BF7A;
}

.f-head-color{
    color: #9E9DA2;
}

.ft-bg-color {
    background-color: #FFFFFF;
}

.f-width {
    max-width: 620px;
}

@media (max-width: 770px) {
    .banner-text {
        text-align: center;
    }
  }